<!-- Week 4 - Learning Activity 1 - Step 2 -->

<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<!-- Message Block -->
<%- messages() %>

<!-- Account Login Display -->
<form id="login-form">
    <label for="account_email">Email Address:</label>
    <input type="email" id="login-email" name="account_email">

    <label for="account_password">Password:</label>
    <input type="text" id="login-password" name="account_password">

    <input type="submit" id="login-btn" value="Login">

    <p>No Account? <a href="/account/register">Register Now!</a></p>
</form>