<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    
    <div id="tools">
        <!-- Display Options based on loggedIn -->
        <!-- Assignment 5 - Step 1  -->
        <% if (loggedIn) { %>
            <a title="Click to manage account" href="/account/">Welcome <%= accountData.account_firstname %>!</a>
            <a title="Click to logout" href="/account/logout">Logout</a>
        <% } else { %>
            <a title="Click to login" href="/account/login">My Account</a>
        <% } %>
    </div>
</header>