<nav>
    <a href="/" title="Return to Home">Home</a>
    <a href="/" title="View Custom">Custom</a>
    <a href="/" title="View Sedans">Sedan</a>
    <a href="/" title="View SUVs">SUV</a>
    <a href="/" title="View Trucks">Truck</a>
</nav>