<!-- Assignment 4 - Task 2 -->

<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<!-- Message Block -->
<%- messages() %>

<!-- Errors Display -->
<!-- Assignment 4 - Task 1 -->
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <% }) %>
    </ul>
<% } %>

<!-- Add Classification Display -->
<form id="add-class-form" action="/inv/add-classification" method="post">
    <label for="classification_name">Classification Name:</label>
    <p>Letters only! No numbers, spaces, or special characters.</p>
    <input type="text" name="classification_name" id="classification_name" required pattern="^[A-Za-z]+$">

    <input type="submit" id="new-class-btn" value="Add Classification"> 
</form>