<!-- * Assignment 3 - Task 1 - #2 > #5 -->

<!-- Content Heading -->
<% if (title) { %>
    <h1 class="inv-id-view"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<!-- Message Block -->
<%# messages() %>

<!-- Single Vehicle Display -->
<%- singleView %>
<%- reviewSection %>